.chat {
    width: 100%;
    max-width: 800px;
    margin: 0 auto;
    min-height: 50vh;
}

.chatContainer{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    display: flex;
    flex-direction: column;
    /* 交差軸（ここでは横軸）において位置を揃える */
    align-items: center;
    /* 主軸（ここでは縦軸）において位置を揃える */
    justify-content: center;
    gap: 0.8rem;
    max-width: 550px;
    width: 90%;
    /* padding: 1.2rem; */
    border-radius: 1rem;
    /* box-sizing: border-box; */
}

.chatInputContainer{
    width: 100%;
    display: flex;
    gap: 0.8rem;
}

.sendButton{
    width:13%;
    min-width: 50px;
    height: 50px;
    border: none;
    border-radius: 10px;
    background-color: #ffffff;
    padding: 8px;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: background-color 0.3s ease, scale 0.3s ease;
}

.sendButton:hover {
    background-color: #63c3fa;
    scale: 1.05;
}


.sendButton img {
    width: 35px;
    height: 35px;
    transition: filter 0.3s ease, scale 0.3s ease;
}

.sendButton:hover img {
    filter: invert(1);
    scale: 1.05;
}

.chatTitle {
    text-align: center;
    margin-bottom: 20px;
    color:#fff;
}

.chatInput {
    width: 100%;
    padding: 10px;
    border: 1px solid #bdbdbd;
    border-radius: 10px;
    background-color: #fff;
    font-size: 16px;
}


.chatInput:focus {
    outline: none;
    border-color: #ff8936;
    box-shadow: 0 0 0 2px rgba(255, 137, 54, 0.2);
}

.chatMessages{
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: rgba(236, 236, 236, 1);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1000;
    backdrop-filter: blur(5px);
}